{% if page.title == "Home"
   or page.title == "Blog"
   or page.title == "Projects"
   or page.title == "Tags"
%}{% assign showHeader = true %}{% endif %}

{% if showHeader == true %}
    <header class="header-home {% if site.animation %}animated{% endif %}">
        {% if site.about %}
            <a class="link" href="{{ site.url }}/about">
                <img class="selfie" alt="{{ site.title }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </a>
        {% else %}
            <span class="link">
                <img class="selfie" alt="{{ site.title }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </span>
        {% endif %}

        <h1 class="title">{{ site.title }}</h1>
        <h2 class="description">{{ site.bio }}</h2>

        {% include social-links.html %}
        <!-- typeit section -->
        <script src="https://unpkg.com/typeit@8.0.1/dist/index.umd.js"></script>
        <script>
            new TypeIt(".description", {
                cursor: {
                    animation: {
                        options: {
                            iterations: Infinity,
                            easing: "linear",
                            fill: "forwards",
                        },
                    },
                }
            }).go();
        </script>
        <!-- typeit section -->
    </header>  
{% endif %}

{% include nav.html %}
